<div class="container">
    <div class="row">
        <div class="col-12">
        <h1 class="text-center">Inventario</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <h2 class="text-center">Productos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            
            </tbody>
        </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        </div>
    </div>
</div>