<div class="container">
    <div class="row">
        <div class="col-12">
        <h1 class="text-center">Inventario</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <h2 class="text-center">Productos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <% if @error_message %>
                <p><%= @error_message %></p>
            <% else %>
            <% @products.each do |product| %>
                <tr>
                    <th><%= product['nombre'] %></th>
                    <th><%= product['descripcion'] %></th>
                    <th><%= product['precio'] %> </th>
                    <th>Stock</th>
                    <th>Acciones</th>
                </tr>
                <% end %>
            <% end %>
            </tbody>
        </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        </div>
    </div>
</div>